<mat-progress-spinner
  class="center-element"
  color="accent"
  mode="indeterminate"
  value="50"
  *ngIf="state==='loading'">
</mat-progress-spinner>

<div class="margin-h-xl mobile-tablet-padding" *ngIf="state==='success'">
  <img src="..\assets\tweet-and-trip-logo-mini.png" class="center-element">
  <mat-table class="table" #table [dataSource]="results">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef class="header-cell"> No. </mat-header-cell>
      <mat-cell class="padding-v-s" *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="header-cell twitter-color"> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="userVenue1">
      <mat-header-cell *matHeaderCellDef class="header-cell foursquare-color"> Venue 1 </mat-header-cell>
      <mat-cell *matCellDef="let element">
            <div *ngIf="element.userVenue1.name">Name: {{element.userVenue1.name}} <br></div>
            <div *ngIf="element.userVenue1.category">Category: {{element.userVenue1.category}} <br></div>
            <div *ngIf="element.userVenue1.city">City: {{element.userVenue1.city}} <br></div>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="userVenue2">
      <mat-header-cell *matHeaderCellDef class="header-cell foursquare-color"> Venue 2 </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div *ngIf="element.userVenue2.name">Name: {{element.userVenue2.name}} <br></div>
        <div *ngIf="element.userVenue2.category">Category: {{element.userVenue2.category}} <br></div>
        <div *ngIf="element.userVenue2.city">City: {{element.userVenue2.city}} <br></div>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="userVenue3">
      <mat-header-cell *matHeaderCellDef class="header-cell foursquare-color"> Venue 3 </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div *ngIf="element.userVenue3.name">Name: {{element.userVenue3.name}} <br></div>
        <div *ngIf="element.userVenue3.category">Category: {{element.userVenue3.category}} <br></div>
        <div *ngIf="element.userVenue3.city">City: {{element.userVenue3.city}} <br></div>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>

<app-errorcard *ngIf="state==='error'" [responseText]="error.error"></app-errorcard>


